.thumbnail img{
	width: 100%
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}
#delete-form {
    display: inline;
}
h1 {
	font-weight: 700;
	font-size: 5em;
}
hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
